<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vendor_Application_Inventory_Platform</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<style>

    .component {
                display: flex;
                align-items: center;
                justify-content: center;
            }
    
            #period {
                color: #4688F1;
                margin-left: 5px;
            }
    
            #date, #month, #hour, #minute {
                margin: 5px;
            }

</style>


<body>
    <header class="position-fixed top-0">
        <nav class="navbar navbar-expand-sm bg-white border-bottom fixed-top">
                    <div class="container-fluid justify-content-between">
                        
                        <div class="d-flex">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color: #4688F1;">CitiSoft</a>
        
                            <div class="component">
                                <div id="day"></div>
                                <div>, </div>
                                <div id="month"></div>
                                <div id="date"></div>
                            </div>
                        </div>
                        
        
        
                        <div class="component">
                            <div id="hour"></div>
                            <div>. </div>
                            <div id="minute"></div>
                            <div id="period"></div>
                            <a class="text-decoration-none ms-3" asp-area="" asp-controller="Employee" asp-action="LogOut">Log Out</a>
                        </div>
        
                    </div>
                </nav>
    </header>
    <div id="contentBody" class="mt-5 pt-4">
        @RenderBody()
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Vendor_Application_Inventory_Platform - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


<script>
    //Get the time on local device
    const now = new Date();

    function dateAndTime() {
        //Display day and date
        document.getElementById("day").innerText = now.toLocaleString("en-US", { weekday: 'long' });
        document.getElementById("month").innerText = now.toLocaleString("en-US", { month: 'long' });
        document.getElementById("date").innerText = now.getDate().toString();
    }

    function updateClock() {

        //A digital clock for the header --> HH:MM AM/PM

        let hour = now.getHours() % 12;
        let minute = now.getMinutes();

        var period = now.getHours() >= 12 ? "PM" : "AM"

        
        document.getElementById("hour").innerText = hour.toString().padStart(2, '0');
        document.getElementById("minute").innerText = minute.toString().padStart(2, '0');
        document.getElementById("period").innerText = period;
        //console.log(hour + " " + minute + " " + period);
    }

    setInterval(updateClock, 1000); // Update the clock every second
    updateClock(); // Display the initial time


    dateAndTime();
    
    $(window).on('load resize', function (){
        let width = $(window).width();
                                
         width <= 992? sideBarCollapse():sideBarExpand();
    })
    
    
    let sideBarExpand = ()=>{
                $('.control-panel-style').css('width','').removeClass('justify-content-center');
                $('#control-panel').removeClass('d-none')
                $('#contentBody').css('margin-left','200px');
                $('.bi-arrow-left').removeClass('d-none')
                $('.bi-arrow-right').addClass('d-none')
    }
    
    let sideBarCollapse = () =>{
                    $('.control-panel-style').css("width","40px").addClass('justify-content-center');
                    $('#control-panel').addClass('d-none');
                    $('#contentBody').css('margin-left','40px');
                    $('.bi-arrow-left').addClass('d-none')
                    $('.bi-arrow-right').removeClass('d-none')
    }
    
</script>