@using Vendor_Application_Inventory_Platform.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Employee

@{
    ViewData["title"] = "Edit employee";
    Layout = "_AdminControlPanel";
}

<h3 class="mx-5">
    Register an Employee to this system
</h3>


<div class="col-9 m-md-5">
    <!--Create employee form -->
    <form asp-area="Admin"  asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="EmployeeID" />

        <div class="mb-3">
            <label class="form-label">Employee First Name</label>
            <input asp-for="FirstName" class=" form-control" placeholder="John" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Employee Last Name</label>
            <input asp-for="LastName" class="form-control" placeholder="Wick" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>


        <div class="mb-3">
            <label class="form-label">Employee Email</label>
            <input asp-for="Email" class="form-control" placeholder="Enter email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
            <small id="emailHelp" class="form-text text-muted">Register a password. This password is needed to login to the system!</small>
        </div>


        <div class="mb-3 form-check">
            <input asp-for="IsAdmin" type="checkbox" class="form-check-input" onclick="toggleAccess()" id="adminCheck">
            <label class="form-check-label">Is an Admin</label>
        </div>

        <div id="accessField">
            <div class="mb-3">
                <input asp-for="accountAccess" type="checkbox" class="form-check-input">
                <label class="form-check-label">Account Access</label>
            </div>

            <div class="mb-3">
                <input asp-for="companyAccess" type="checkbox" class="form-check-input">
                <label class="form-check-label">Company Access</label>
            </div>

            <div class="mb-3">
                <input asp-for="softwareAccess" type="checkbox" class="form-check-input">
                <label class="form-check-label">Software Access</label>
            </div>
        </div>
        
        



        <button asp-area="Admin" type="submit" value="Update" class="btn btn-primary">Submit</button>
    </form>
</div>

@section Scripts{
    <script>
    
        $('#dashboard').removeClass('indicator-off');
        
        toggleAccess();
        
        function toggleAccess(){
            if ($("#adminCheck").is(":checked")) {
                $("#accessField").hide();
            }
            else {
                $("#accessField").show();
            }
        }
    </script>
}
