@{
    Layout = "_EmployeeControlPanel";
    ViewData["title"] = "Details";
}

    <div class="row">
        <div class="col-md-6 border">
            <img src="#" class="w-100" height="200" alt="company logo"/>
        </div>
        <div class="col-md-6">
            <div class="fs-5 fw-bold mb-2">ADONIS</div>
            <div class="mb-2">
                <span class="text-primary">Company Name: </span>
                BOC Group
            </div>
            <div class="mb-2">
                <span class="text-primary">Business Area: </span>
                Enterprise Architecture
            </div>
            <div class="mb-2">Rating <span class="text-info">4.9</span>/5</div>
            <button class="btn btn-primary">Official Website</button>
        </div>
    </div>
    <div class="mt-5 border-top pt-3">
        <h5>Software Description</h5>
        <p>A Business Process Management (BPM) tool, used for documentation, analysis, and optimization of business processes. It enables the visualization of process flows and standard operating procedures (SOPs), provides visibility into how they operate, and helps increase their efficiency by revealing redundant efforts and opportunities for improvement.
                   
            Gartner Magic Quadrant Leader in EA 2022
            ADOIT is based on various international standards such as TOGAF, ArchiMate, ITIL, and COBIT. It is ArchiMate 3.1 and TOGAF-9 certified.
                       
            ADOIT is used for the optimization of enterprise architectures. It covers a wide application field from the establishment of EA know-how, the definition and implementation of architectural principles, the establishment of business capability management, installation of compliance and IT risk management, to the integration of process management initiatives.
        </p>
    </div>
    <div class="row mt-5 border-top pt-3">
        <h5>Company Information</h5>
        <div class="row mt-3">
            <div class="mb-2"><span class="text-primary">Name: </span>BOC Group</div>
            <div class="mb-2"><span class="text-primary">Established Date: </span>1995</div>
            <div class="col-sm-6">
                <p class="text-primary">Locations</p>
                <div>Austria, Wien</div>
                <div>France, Paris</div>
                <div>Germany, Berlin</div>
                <div>Greece, Chalikida</div>
                <div>Ireland, Dublin</div>
                <div>Poland, Warszawa</div>
                <div>Spain, Madrid</div>
                <div>Switzerland, Winterthur </div>
            </div>
            <div class="col-sm-6">
                <p class="text-primary">Contacts</p>
                <div>[Wien] +43 1 9051081 0</div>
                <div>[Paris] +33 1 5324 53 83</div>
                <div>[Berlin] +49 30 226925 10</div>
                <div>[Chalkida] +30 222 1308676</div>
                <div>[Dublin] +353 1 287 01 29</div>
                <div>[Warszawa] +48 22 628 00 15</div>
                <div>[Madrid] +34 91 781 18 80</div>
                <div>[Winterhur] +41 52260375 0</div>
            </div>
        </div>
    </div>
    <div class="mt-5 border-top pt-3 row gy-3">
        <h5>Reviews</h5>
        <div class="col-12 bg-info rounded py-1">
            <span class="text-primary">John Kennedy</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi cursus ornare lorem, in efficitur eros efficitur ut. Integer tristique, velit in imperdie.</p>
        </div>
        <div class="col-12 bg-info rounded py-1">
            <span class="text-primary">Anthony Menendez</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi cursus ornare lorem, in efficitur eros efficitur ut. Integer tristique, velit in imperdie.</p>
        </div>
    </div>
    <div class="mt-5 border-top pt-3 row">
        <div class="col-12 text-center"><h5>See also</h5></div>
        <div class="col-sm-4 border">
            <img src="#" alt="company logo" height="200" class="w-100">
        </div>
        <div class="col-sm-4 border">
            <img src="#" alt="company logo" height="200" class="w-100">
        </div>
        <div class="col-sm-4 border">
            <img src="#" alt="company logo" height="200" class="w-100">
        </div>
    </div>