@{
    Layout = "_EmployeeControlPanel";
    ViewData["title"] = "Details";
}

<div class="container p-5">
    <div class="row">
        <div class="col-md-6">
            <img src="#" class="border w-100" height="200"/>
        </div>
        <div class="col-md-6">
            <div class="fs-5 fw-bold">ADONIS</div>
            <div>
                <span class="text-primary">Company Name: </span>
                BOC Group
            </div>
            <div>
                <span class="text-primary">Business Area: </span>
                Enterprise Architecture
            </div>
            <div>Rating <span class="text-info">4.9</span>/5</div>
            <button class="btn btn-primary">Official Website</button>
        </div>
    </div>
</div>